<h1 class="titulo-cdmx">Bandeja de Tareas</h1>

<fieldset>
    <legend>Filtros</legend>

    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Tipo Trámite:</mat-label>
                <mat-select>
                    <mat-option value="">Tipo Trámite 1</mat-option>
                    <mat-option value="">Tipo Trámite 2</mat-option>
                    <mat-option value="">Tipo Trámite 3</mat-option>
                    <mat-option value="">Tipo Trámite 4</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Subtipo Trámite:</mat-label>
                <mat-select>
                    <mat-option value="">Subtipo Trámite 1</mat-option>
                    <mat-option value="">Subtipo Trámite 2</mat-option>
                    <mat-option value="">Subtipo Trámite 3</mat-option>
                    <mat-option value="">Subtipo Trámite 4</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Tarea</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
        </div>
        <div class="col-md-4 offset-md-2">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>N° Expediente</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Fecha Registro Desde</mat-label>
                <input matInput [matDatepicker]="fechaDesde">
                <mat-datepicker-toggle matSuffix [for]="fechaDesde"></mat-datepicker-toggle>
                <mat-datepicker #fechaDesde></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-4 offset-md-2">
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Fecha Registro Hasta</mat-label>
                <input matInput [matDatepicker]="fechaHasta">
                <mat-datepicker-toggle matSuffix [for]="fechaHasta"></mat-datepicker-toggle>
                <mat-datepicker #fechaHasta></mat-datepicker>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Fecha Término</mat-label>
                <input matInput [matDatepicker]="fechaDesde">
                <mat-datepicker-toggle matSuffix [for]="fechaDesde"></mat-datepicker-toggle>
                <mat-datepicker #fechaDesde></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Estado Asignación</mat-label>
                <mat-select>
                    <mat-option value="">Nueva</mat-option>
                    <mat-option value="">Asignada</mat-option>
                    <mat-option value="">Superada</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Topógrafo</mat-label>
                <mat-select>
                    <mat-option value="">Topografo 1</mat-option>
                    <mat-option value="">Topografo 2</mat-option>
                    <mat-option value="">Topografo 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    

</fieldset>
