<h1 class="titulo-cdmx">Alta Expediente</h1>
<div style="padding: 30px; text-align: center;" *ngIf="loadingTiposTramite">
    <mat-spinner style="margin:0 auto;"></mat-spinner>
    <p>Cargando...</p>
</div>
<ng-container *ngIf="!loadingTiposTramite">

    <fieldset>
        <legend>Elección de Trámite</legend>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Tipo:</mat-label>
                    <mat-select [(ngModel)]="dataExpediente.IDTIPOTRAMITE">
                        <mat-option [value]="0">Seleccione un trámite ...</mat-option>
                        <mat-option *ngFor="let tramite of tiposTramite" [value]="tramite.IDTIPOTRAMITE">
                            {{ tramite.DESCRIPCION}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Documentos a Aportar</legend>
        <div class="row">
            <div class="col">
                <div *ngIf="documentosAportar.length == 0; else tableDocumentosAportar">
                    No hay documentos relacionados
                </div>
                <ng-template #tableDocumentosAportar>
                    <div style="overflow-x:auto; white-space: nowrap;">
                        <table mat-table [dataSource]="documentosAportar">
                            <ng-container matColumnDef="conjunto_documental">
                                <th mat-header-cell *matHeaderCellDef> Conjunto Documental </th>
                                <td mat-cell *matCellDef="let element"> {{element}} </td>
                            </ng-container>
                            <ng-container matColumnDef="documento">
                                <th mat-header-cell *matHeaderCellDef> Documento </th>
                                <td mat-cell *matCellDef="let element"> {{element}} </td>
                            </ng-container>
                            <ng-container matColumnDef="obligatorio">
                                <th mat-header-cell *matHeaderCellDef> Obligatorio </th>
                                <td mat-cell *matCellDef="let element"> {{element}} </td>
                            </ng-container>
                            <ng-container matColumnDef="check">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-checkbox [disabled]="true" [checked]="true"></mat-checkbox>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="documentosAportarColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: documentosAportarColumns;"></tr>
                        </table>
                    </div>
                </ng-template>                    
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Consulta de Promoventes
            <button type="button" mat-flat-button color="primary" aria-label="" matTooltip="" class="boton-pequeno">
                <mat-icon>add</mat-icon>
            </button>
        </legend>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Tipo:</mat-label>
                    <mat-select [(ngModel)]="dataExpediente.tipoTramite">
                        <mat-option [value]="0">Seleccione un trámite ...</mat-option>
                        <mat-option *ngFor="let tramite of tiposTramite" [value]="tramite.IDTIPOTRAMITE">
                            {{ tramite.DESCRIPCION}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </fieldset>

</ng-container>