<h1 class="titulo-cdmx">Alta Expediente</h1>
<div style="padding: 30px; text-align: center;" *ngIf="loadingTiposTramite || loadingTiposPersona || loadingTiposDocIdentif">
    <mat-spinner style="margin:0 auto;"></mat-spinner>
    <p>Cargando...</p>
</div>
<ng-container *ngIf="!loadingTiposTramite && !loadingTiposPersona && !loadingTiposDocIdentif">

    <fieldset>
        <legend>Elección de Trámite</legend>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Tipo:</mat-label>
                    <mat-select #IDTIPOTRAMITE="ngModel" [(ngModel)]="dataExpediente.IDTIPOTRAMITE" required>
                        <mat-option value="">Seleccione un trámite ...</mat-option>
                        <mat-option *ngFor="let tramite of tiposTramite" [value]="tramite.IDTIPOTRAMITE">
                            {{ tramite.DESCRIPCION }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="IDTIPOTRAMITE.errors?.required">Requerido</mat-error>
                </mat-form-field>
            </div>
        </div>
    </fieldset>

    <ng-container *ngIf="dataExpediente.IDTIPOTRAMITE != ''">
        <fieldset>
            <legend>Documentos a Aportar</legend>
            <div class="row">
                <div class="col">
                    <div *ngIf="documentosAportar.length == 0; else tableDocumentosAportar">
                        No hay documentos relacionados
                    </div>
                    <ng-template #tableDocumentosAportar>
                        <div style="overflow-x:auto; white-space: nowrap;">
                            <table mat-table [dataSource]="documentosAportar">
                                <ng-container matColumnDef="conjunto_documental">
                                    <th mat-header-cell *matHeaderCellDef> Conjunto Documental </th>
                                    <td mat-cell *matCellDef="let element"> {{ element }} </td>
                                </ng-container>
                                <ng-container matColumnDef="documento">
                                    <th mat-header-cell *matHeaderCellDef> Documento </th>
                                    <td mat-cell *matCellDef="let element"> {{ element }} </td>
                                </ng-container>
                                <ng-container matColumnDef="obligatorio">
                                    <th mat-header-cell *matHeaderCellDef> Obligatorio </th>
                                    <td mat-cell *matCellDef="let element"> {{ element }} </td>
                                </ng-container>
                                <ng-container matColumnDef="check">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-checkbox [disabled]="true" [checked]="true"></mat-checkbox>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="documentosAportarColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: documentosAportarColumns;"></tr>
                            </table>
                        </div>
                    </ng-template>                    
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Datos Generales del Expediente</legend>
            <!--<div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Fecha Entrada:</mat-label>
                        <input matInput #FECHAENTRADA="ngModel" [matDatepicker]="fechaEntrada" [(ngModel)]="dataExpediente.FECHAENTRADA" required>
                        <mat-datepicker-toggle matSuffix [for]="fechaEntrada"></mat-datepicker-toggle>
                        <mat-datepicker #fechaEntrada></mat-datepicker>
                        <mat-error *ngIf="FECHAENTRADA.errors?.required">Requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4 offset-md-2">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Fecha Término:</mat-label>
                        <input matInput [matDatepicker]="fechaTermino" [(ngModel)]="dataExpediente.FECHATERMINO">
                        <mat-datepicker-toggle matSuffix [for]="fechaTermino"></mat-datepicker-toggle>
                        <mat-datepicker #fechaTermino></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>-->
            <div class="row">
                <mat-form-field class="col-md-10">
                    <mat-label>Observaciones:</mat-label>
                    <textarea matInput rows="5" [(ngModel)]="dataExpediente.OBSERVACIONES"></textarea>
                </mat-form-field>
            </div>
        </fieldset>

        <fieldset>
            <legend>Datos de los Promoventes</legend>
            <div class="row">
                <div class="col-md-10">
                </div>
                <div class="col-md-2">
                    <button mat-stroked-button color="primary" aria-label="Buscar">
                        Buscar<mat-icon style="display: inherit; width: 15px;">search</mat-icon>
                    </button>
                </div>
            </div>
            <div class="row">
                <mat-form-field appearance="fill" class="col-4 offset-md-4">
                    <mat-label>Tipo Persona:</mat-label>
                    <mat-select [(ngModel)]="tipoPersona" (selectionChange)="clearFormPromovente()">
                        <mat-option *ngFor="let tipo of tiposPersona" [value]="tipo.DESTIPOPERSONA">
                            {{ tipo.DESTIPOPERSONA }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <ng-container *ngIf="tipoPersona == 'FISICA'">
                <form [formGroup]="promoventeFisica">
                    <div class="row">
                        <mat-form-field appearance="outline" class="col-10 offset-1">
                            <mat-label>Nombre: *</mat-label>
                            <input matInput formControlName="NOMBRE" maxlength="50" placeholder="Ingrese el nombre">
                            <mat-error *ngIf="promoventeFisica.controls.NOMBRE.errors?.required">Requerido</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline"  class="col-5 offset-1">
                            <mat-label>Apellido Paterno: *</mat-label>
                            <input matInput formControlName="APELLIDOPATERNO" maxlength="50" placeholder="Ingrese el apellido paterno">
                            <mat-error *ngIf="promoventeFisica.controls.APELLIDOPATERNO.errors?.required">Requerido</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline"  class="col-5">
                            <mat-label>Apellido Materno:</mat-label>
                            <input matInput formControlName="APELLIDOMATERNO" maxlength="50" placeholder="Ingrese el apellido materno">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline"  class="col-5 offset-1">
                            <mat-label>RFC: *</mat-label>
                            <input matInput formControlName="RFC" pattern="^([A-ZÑ&]{4})?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$" maxlength="13" placeholder="Ingrese el RFC">
                            <mat-error *ngIf="promoventeFisica.controls.RFC.errors?.required">Requerido</mat-error>
                            <mat-error *ngIf="promoventeFisica.controls.RFC.errors?.pattern">El campo RFC debe contener 4 letras mayúsculas, 6 números y 3 alfanuméricos de la homoclave.</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline"  class="col-5">
                            <mat-label>CURP: *</mat-label>
                            <input matInput formControlName="CURP" pattern="^([A-Z][AEIOUX][A-Z]{2}\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])[HM](?:AS|B[CS]|C[CLMSH]|D[FG]|G[TR]|HG|JC|M[CNS]|N[ETL]|OC|PL|Q[TR]|S[PLR]|T[CSL]|VZ|YN|ZS)[B-DF-HJ-NP-TV-Z]{3}[A-Z\d])(\d)$" maxlength="18" placeholder="Ingrese el CURP">
                            <mat-error *ngIf="promoventeFisica.controls.CURP.errors?.required">Requerido</mat-error>
                            <mat-error *ngIf="promoventeFisica.controls.CURP.errors?.pattern">CURP no valido</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline"  class="col-5 offset-1">
                            <mat-label>Clave INE:</mat-label>
                            <input matInput formControlName="CLAVEIFE" maxlength="50" placeholder="Ingrese el INE">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="fill"  class="col-5 offset-1">
                            <mat-label>Otro Documento:</mat-label>
                            <mat-select formControlName="IDDOCIDENTIF">
                                <mat-option value="">Seleccione ...</mat-option>
                                <mat-option *ngFor="let documento of tiposDocIdentif" [value]="documento.IDDOCIDENTIF">
                                    {{ documento.DESCRIPCION }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline"  class="col-5">
                            <mat-label>Número Documento</mat-label>
                            <input matInput formControlName="OTROS" maxlength="50" placeholder="Ingrese el número de documento">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline"  class="col-5 offset-1">
                            <mat-label>Celular: *</mat-label>
                            <input matInput formControlName="CELULAR" maxlength="10" placeholder="Ingrese el número de celular">
                            <mat-error *ngIf="promoventeFisica.controls.CELULAR.errors?.required">Requerido</mat-error>
                            <mat-error *ngIf="promoventeFisica.controls.CELULAR.errors?.minLength">El número celular debe de contener 10 digitos</mat-error>
                            <mat-error *ngIf="promoventeFisica.controls.CELULAR.errors?.maxLength">El número celular debe de contener 10 digitos</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline"  class="col-5">
                            <mat-label>E-mail: *</mat-label>
                            <input matInput formControlName="EMAIL" maxlength="50" placeholder="Ingrese el email">
                            <mat-error *ngIf="promoventeFisica.controls.EMAIL.errors?.required">Requerido</mat-error>
                            <mat-error *ngIf="promoventeFisica.controls.EMAIL.errors?.maxLength">La estructura del correo es incorrecta</mat-error>
                        </mat-form-field>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-2">
                        <button mat-stroked-button color="primary" aria-label="Agregar" [disabled]="promoventeFisica.invalid" (click)="addPromoventeFisica()">
                            Agregar<mat-icon style="display: inherit; width: 15px;">add</mat-icon>
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button mat-stroked-button color="warn" aria-label="Limpiar" (click)="clearFormPromovente()">
                            Limpiar
                        </button>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="tipoPersona == 'MORAL'">
                <form [formGroup]="promoventeMoral">
                    <div class="row">
                        <mat-form-field appearance="outline" class="col-10 offset-1">
                            <mat-label>Nombre: *</mat-label>
                            <input matInput formControlName="NOMBRE" maxlength="50" placeholder="Ingrese el nombre">
                            <mat-error *ngIf="promoventeMoral.controls.NOMBRE.errors?.required">Requerido</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline" class="col-5 offset-1">
                            <mat-label>RFC: *</mat-label>
                            <input matInput formControlName="RFC" pattern="^([A-ZÑ&]{3})?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$" maxlength="12" placeholder="Ingrese el RFC">
                            <mat-error *ngIf="promoventeMoral.controls.RFC.errors?.required">Requerido</mat-error>
                            <mat-error *ngIf="promoventeMoral.controls.RFC.errors?.pattern">El campo RFC debe contener 3 letras mayúsculas, 6 números y 3 alfanuméricos de la homoclave.</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-5">
                            <mat-label>Actividad Principal: *</mat-label>
                            <input matInput formControlName="ACTIVPRINCIP" maxlength="50" placeholder="Ingrese la actividad principal">
                            <mat-error *ngIf="promoventeMoral.controls.ACTIVPRINCIP.errors?.required">Requerido</mat-error>
                        </mat-form-field>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-2">
                        <button mat-stroked-button color="primary" aria-label="Agregar" [disabled]="promoventeMoral.invalid" (click)="addPromoventeMoral()">
                            Agregar<mat-icon style="display: inherit; width: 15px;">add</mat-icon>
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button mat-stroked-button color="warn" aria-label="Limpiar" (click)="clearFormPromovente()">
                            Limpiar
                        </button>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="dataPromoventes.length != 0">
                <br>
                <div class="row">
                    <div class="col">
                        <table>
                            <thead>
                                <tr>
                                    <th>Tipo Persona</th>
                                    <th>Datos Personales</th>
                                    <th>Datos Identificativos</th>
                                    <th>Datos de Contacto</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let promovente of dataPromoventes; let i = index;">
                                    <td>{{ promovente.TIPOPERSONA }}</td>
                                    <td>{{ promovente.APELLIDOPATERNO }} {{ promovente.APELLIDOMATERNO }} {{ promovente.NOMBRE }}</td>
                                    <td>
                                        {{ promovente.RFC }}
                                        <br>
                                        {{ promovente.CURP }}
                                        <br>
                                        {{ promovente.CLAVEIFE }}
                                        <br>
                                        {{ promovente.OTROS }}
                                    </td>
                                    <td>
                                        {{ promovente.CELULAR }}
                                        <br>
                                        {{ promovente.EMAIL }}
                                    </td>
                                    <td>
                                        <button type="button" mat-icon-button color="primary" aria-label="Editar" matTooltip="Editar" (click)="editPromovente(i)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button type="button" mat-icon-button color="primary" aria-label="Eliminar" matTooltip="Eliminar" (click)="deletePromovente(i)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>                   
                    </div>
                </div>
            </ng-container>
        </fieldset>
    </ng-container>

</ng-container>