<h1 class="titulo-cdmx">Alta Expediente</h1>
<div style="padding: 30px; text-align: center;" *ngIf="loadingTiposTramite">
    <mat-spinner style="margin:0 auto;"></mat-spinner>
    <p>Cargando...</p>
</div>
<ng-container *ngIf="!loadingTiposTramite">

    <fieldset>
        <legend>Elección de Trámite</legend>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Tipo:</mat-label>
                    <mat-select [(ngModel)]="dataExpediente.tipoTramite">
                        <mat-option [value]="0">Seleccione un trámite ...</mat-option>
                        <mat-option *ngFor="let tramite of tiposTramite" [value]="tramite.IDTIPOTRAMITE">
                            {{ tramite.DESCRIPCION}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Subtipo:</mat-label>
                    <mat-select [(ngModel)]="dataExpediente.subTipoTramite">
                        <mat-option [value]="0">Seleccione un subtrámite ...</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </fieldset>

</ng-container>