<h1 mat-dialog-title>Buscador de Personas</h1>
<div mat-dialog-content>
    <form #formDialog="ngForm">
        <div class="row">
            <mat-form-field class="col-md-6">
                <mat-label>Nombre/Razón social:</mat-label>
                <input matInput placeholder="Nombre/Razón social" [(ngModel)]="filtroDatosPersonales.nombre" name="nombre" (ngModelChange)="clearDatos('nombre', 'personales')">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col-md-6">
                <mat-label>Apellido Paterno:</mat-label>
                <input matInput placeholder="Apellido Paterno" [(ngModel)]="filtroDatosPersonales.apaterno" name="apaterno" (ngModelChange)="clearDatos('apaterno', 'personales')">
            </mat-form-field>
            <mat-form-field class="col-md-6">
                <mat-label>Apellido Materno:</mat-label>
                <input matInput placeholder="Apellido Materno" [(ngModel)]="filtroDatosPersonales.amaterno" name="amaterno" (ngModelChange)="clearDatos('amaterno', 'personales')">
            </mat-form-field>
        </div>
        <hr>
        <div class="row">
            <mat-form-field class="col-md-4">
                <mat-label>RFC:</mat-label>
                <input matInput placeholder="RFC" [(ngModel)]="filtroDatosIdentificativos.rfc" name="rfc" (ngModelChange)="clearDatos('rfc', 'identificativos')">
            </mat-form-field>
            <mat-form-field class="col-md-4">
                <mat-label>CURP:</mat-label>
                <input matInput placeholder="CURP" [(ngModel)]="filtroDatosIdentificativos.curp" name="curp" (ngModelChange)="clearDatos('curp', 'identificativos')">
            </mat-form-field>
            <mat-form-field class="col-md-4">
                <mat-label>Clave INE:</mat-label>
                <input matInput placeholder="Clave INE" [(ngModel)]="filtroDatosIdentificativos.ife" name="ife" (ngModelChange)="clearDatos('ife', 'identificativos')">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col-md-4">
                <mat-label>Otro Documento Identificativo:</mat-label>
                <mat-select>
                    <mat-option *ngFor="let documento of tiposDocIdentif" [value]="documento.IDDOCIDENTIF">
                        {{ documento.DESCRIPCION }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-4">
                <mat-label></mat-label>
                <input matInput [(ngModel)]="filtroDatosIdentificativos.otro" name="otro" (ngModelChange)="clearDatos('otro', 'identificativos')">
            </mat-form-field>
        </div>
        <div class="col" align="middle">
            <button mat-icon-button color="primary" aria-label="Buscar" matTooltip="Buscar" (click)="getDataPromovente()">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </form>
    <ng-container *ngIf="isBusqueda">
        <fieldset>
            <legend>Lista de personas</legend>
            <div style="padding: 30px; text-align: center;" *ngIf="loadingPaginado">
                <mat-spinner style="margin:0 auto;"></mat-spinner>
                <p>Cargando...</p>
            </div>
            <div class="alert alert-info" *ngIf="dataSource.length == 0 && !loadingPaginado">
                No se encontraron datos.
            </div>
            <table mat-table [dataSource]="dataSource" *ngIf="dataSource.length > 0 && !loadingPaginado">
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{ element.APELLIDOPATERNO }} {{ element.APELLIDOMATERNO }} {{ element.NOMBRE }} </td>
                </ng-container>
                <ng-container matColumnDef="datos_identificativos">
                    <th mat-header-cell *matHeaderCellDef> Datos identificativos </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.RFC }}
                        <br>
                        {{ element.CURP }}
                        <br>
                        {{ element.CLAVEIFE }}
                        <br>
                        {{ element.OTROS }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef> Seleccionar </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-radio-group [(ngModel)]="promovente">
                            <mat-radio-button [value]="element" (change)="promoventeSelected(element)"></mat-radio-button>
                        </mat-radio-group>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator #paginator [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[pageSize]" (page)="paginado($event)">
            </mat-paginator>
        </fieldset>
    </ng-container>
</div>
<mat-dialog-actions align="end">
    <button mat-flat-button color="primary" *ngIf="promovente" [mat-dialog-close]="dataPromovente">Aceptar</button>
    <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>