<h1 mat-dialog-title>Especificación/Consulta Dirección Notificación</h1>
<div mat-dialog-content>
    <form [formGroup]="domicilio">
        <div class="row">
            <mat-form-field class="col-md-6">
                <mat-label>Estado:</mat-label>
                <input matInput formControlName="ESTADO" maxlength="50" readonly>
            </mat-form-field>
            <mat-form-field class="col-md-6">
                <mat-label>Alcaldía: *</mat-label>
                <mat-select formControlName="IDDELEGACION" (selectionChange)="getNombreDelegacion($event)">
                    <mat-option value="">Seleccione una Alcaldía...</mat-option>
                    <mat-option *ngFor="let delegacion of delegaciones" [value]="delegacion.IDDELEGACION">
                        {{ delegacion.NOMBRE }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="domicilio.controls.IDDELEGACION.errors?.required">Requerido</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col-md-8">
                <mat-label>Colonia / Asentamiento: *</mat-label>
                <input matInput formControlName="COLONIA" maxlength="50">
                <mat-error *ngIf="domicilio.controls.COLONIA.errors?.required">Requerido</mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-4">
                <mat-label>Código Postal:</mat-label>
                <input matInput formControlName="CODIGOPOSTAL" maxlength="5">
                <mat-error *ngIf="domicilio.controls.CODIGOPOSTAL.errors?.minlength">El código debe de contener 5 digitos</mat-error>
                <mat-error *ngIf="domicilio.controls.CODIGOPOSTAL.errors?.maxlength">El código debe de contener 5 digitos</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col-md-6">
                <mat-label>Tipo Vía: *</mat-label>
                <mat-select formControlName="CODTIPOSVIA">
                    <mat-option value="">Seleccione un tipo de vía...</mat-option>
                    <mat-option *ngFor="let tipo of tiposVia" [value]="tipo.CODTIPOSVIA">
                        {{ tipo.TIPOVIA }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="domicilio.controls.CODTIPOSVIA.errors?.required">Requerido</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col-md-6">
                <mat-label>Vía: *</mat-label>
                <textarea matInput rows="5" formControlName="VIA"></textarea>
                <mat-error *ngIf="domicilio.controls.VIA.errors?.required">Requerido</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col-md-6">
                <mat-label>Tipo Localidad:</mat-label>
                <mat-select formControlName="CODTIPOSLOCALIDAD">
                    <mat-option value="">Seleccione un tipo de localidad...</mat-option>
                    <mat-option *ngFor="let tipo of tiposLocalidad" [value]="tipo.CODTIPOSLOCALIDAD">
                        {{ tipo.DESCRIPCION }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</div>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>