<mat-card>
    <div class="borde">
        <mat-card-header style="padding-left: 7%;">
            <mat-card-title>Bandeja de entrada</mat-card-title>
        </mat-card-header>
        <hr>
        <br>
        <mat-card-content>
            <form [formGroup]="buscaFormGroup">
                <div class="row">
                    <div class="col-1 text-center">
                        <mat-label>Rango de Fechas</mat-label>
                    </div>
                    <mat-form-field appearance="fill" class="col-4">
                        <mat-label>Fecha Nacimiento:</mat-label>
                        <input matInput [matDatepicker]="fechaNacimiento" formControlName="fecha_inicio" [(ngModel)]="fecha_inicio" readonly>
                                <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
                                <mat-datepicker #fechaNacimiento></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="col-4">
                        <mat-label>Fecha Defunción:</mat-label>
                        <input matInput [matDatepicker]="fechaDefuncion" formControlName="fecha_fin" [(ngModel)]="fecha_fin" readonly>
                        <mat-datepicker-toggle matSuffix [for]="fechaDefuncion"></mat-datepicker-toggle>
                        <mat-datepicker #fechaDefuncion></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="text-center">
                        <mat-label>Número de cuenta</mat-label>
                    </div>
                    <mat-form-field appearance="outline" class="col-2 offset-md-2">
                        <mat-label>Región:</mat-label>
                        <input matInput #region formControlName="region" minlength="3" maxlength="3" (keypress)="keyPressAlphaNumeric($event)" (keyup)="focusNextInput($event, manzana)" style="text-transform: uppercase;">
                        <mat-error *ngIf="buscaFormGroup.controls.region.errors?.required">Requerido</mat-error>
                        <mat-error *ngIf="buscaFormGroup.controls.region.errors?.minlength">El valor debe de tener 3 alfanúmericos</mat-error>
                        <mat-error *ngIf="buscaFormGroup.controls.region.errors?.maxlength">El valor debe de tener 3 alfanúmericos</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline"  class="col-2">
                        <mat-label>Manzana:</mat-label>
                        <input matInput #manzana formControlName="manzana" minlength="3" maxlength="3" (keypress)="keyPressAlphaNumeric($event)" (keyup)="focusNextInput($event, lote)" style="text-transform: uppercase;">
                        <mat-error *ngIf="buscaFormGroup.controls.manzana.errors?.required">Requerido</mat-error>
                        <mat-error *ngIf="buscaFormGroup.controls.manzana.errors?.minlength">El valor debe de tener 3 alfanúmericos</mat-error>
                        <mat-error *ngIf="buscaFormGroup.controls.manzana.errors?.maxlength">El valor debe de tener 3 alfanúmericos</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline"  class="col-2">
                        <mat-label>Lote:</mat-label>
                        <input matInput #lote formControlName="lote" minlength="2" maxlength="2" (keypress)="keyPressAlphaNumeric($event)" (keyup)="focusNextInput($event, null)" style="text-transform: uppercase;">
                        <mat-error *ngIf="buscaFormGroup.controls.lote.errors?.required">Requerido</mat-error>
                        <mat-error *ngIf="buscaFormGroup.controls.lote.errors?.minlength">El valor debe de tener 2 alfanúmericos</mat-error>
                        <mat-error *ngIf="buscaFormGroup.controls.lote.errors?.maxlength">El valor debe de tener 2 alfanúmericos</mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-4">
                        Estados:
                    </div>
                    <mat-form-field appearance="fill" class="col-4">
                        <mat-label>Estado:</mat-label>
                        <mat-select>
                            <mat-option value="cuenta">Cuenta</mat-option>
                            <mat-option value="contribuyente">Contribuyente</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="col-4">
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-2 offset-md-5" style="text-align: center;">
                    <div class="d-flex flex-row-reverse">
                        <button mat-icon-button color="primary" aria-label="Buscar" matTooltip="Buscar" style="margin: auto;">
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 offset-md-1" style="text-align: center;">
                   <label>Listado de solicitudes</label>
                    <button mat-icon-button color="primary" aria-label="Buscar" matTooltip="Buscar" style="margin: auto;" (click)="openSolicitud()">
                        <mat-icon>add</mat-icon>
                    </button>
                    <mat-icon>edit</mat-icon>
                    <mat-icon>delete</mat-icon>
                    <mat-icon>search</mat-icon>
                    <mat-icon>description</mat-icon>
                </div>
            </div>
        </mat-card-content>
    </div>
</mat-card>
