<div class="row">
    <div class="col-md-10 offset-md-1">
        <h1 class="titulo-cdmx">Datos Generales</h1>
        <hr>
        <br>
        <mat-card-content>
            <h3>Cuenta catastral</h3>
            <div class="row">
                <div class="col-md-12">
                    Reg. 030 Manz. 162 Lote 10 Unidad Priv. 000
                </div>
            </div>
            <h3>Domicilio</h3>
            <div class="row">
                <div class="col-md-3">
                    Alcaldía
                </div>
                <div class="col-md-3">
                    Datos
                </div>
                <div class="col-md-3">
                    Colonia
                </div>
                <div class="col-md-3">
                    Datos
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Tipo de vía
                </div>
                <div class="col-md-3">
                    Datos
                </div>
                <div class="col-md-3">
                    No. Ext.
                </div>
                <div class="col-md-3">
                    Datos
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    C.P.
                </div>
                <div class="col-md-3">
                    Datos
                </div>
                <div class="col-md-3">
                    Tipo Asentamiento
                </div>
                <div class="col-md-3">
                    Datos
                </div>
            </div>
            <h3>Domicilio Notificación</h3>
            <div class="row">
                <div class="col-md-3">
                    Alcaldía
                </div>
                <div class="col-md-3">
                    Datos
                </div>
                <div class="col-md-3">
                    Colonia
                </div>
                <div class="col-md-3">
                    Datos
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Tipo de vía
                </div>
                <div class="col-md-3">
                    Datos
                </div>
                <div class="col-md-3">
                    No. Ext.
                </div>
                <div class="col-md-3">
                    Datos
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    C.P.
                </div>
                <div class="col-md-3">
                    Datos
                </div>
                <div class="col-md-3">
                    Tipo Asentamiento
                </div>
                <div class="col-md-3">
                    Datos
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Tipo Localidad
                </div>
                <div class="col-md-3">
                    Datos
                </div>
                <div class="col-md-3">
                    Entre Calle 1
                </div>
                <div class="col-md-3">
                    Datos
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Entre Calle 2
                </div>
                <div class="col-md-3">
                    Datos
                </div>
                <div class="col-md-3">
                   Andador
                </div>
                <div class="col-md-3">
                    Datos
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Edificio
                </div>
                <div class="col-md-3">
                    Datos
                </div>
                <div class="col-md-3">
                    Sección
                </div>
                <div class="col-md-3">
                    Datos
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Entrada
                </div>
                <div class="col-md-3">
                    Datos
                </div>
                <div class="col-md-3">
                    No. Interior
                </div>
                <div class="col-md-3">
                    Datos
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Teléfono
                </div>
                <div class="col-md-3">
                    Datos
                </div>
                <div class="col-md-3">
                    Ind. Adicionales
                </div>
                <div class="col-md-3">
                    Datos
                </div>
            </div>
            <label>Propietarios</label>
            <button mat-icon-button aria-label="Editar" matTooltip="Editar" style="margin: auto;">
                <mat-icon class="mini-boton">user</mat-icon>
            </button>
            <br><br>
            <div class="row">
                <h3>Regimen de Condominio</h3>
            </div>
            <button mat-icon-button aria-label="Editar" matTooltip="Editar" style="margin: auto;">
                <mat-icon class="mini-boton">search</mat-icon>
            </button>
            <div class="row">
                <label>Datos Escritura</label>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Fecha Escritura
                </div>
                <div class="col-md-3">
                    Datos
                </div>
                <div class="col-md-3">
                    No. Escritura
                </div>
                <div class="col-md-3">
                    Datos
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Notario
                </div>
                <div class="col-md-3">
                    Datos
                </div>
                <div class="col-md-3">
                    Folio Real
                </div>
                <div class="col-md-3">
                    Datos
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Sección
                </div>
                <div class="col-md-3">
                    Datos
                </div>
                <div class="col-md-3">
                    Volumen
                </div>
                <div class="col-md-3">
                    Datos
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Tomo
                </div>
                <div class="col-md-3">
                    Datos
                </div>
                <div class="col-md-3">
                    Foja
                </div>
                <div class="col-md-3">
                    Datos
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Partida
                </div>
                <div class="col-md-3">
                    Datos
                </div>
                <div class="col-md-3">
                    Libro
                </div>
                <div class="col-md-3">
                    Datos
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Tipo
                </div>
                <div class="col-md-3">
                    Datos
                </div>
                <div class="col-md-3">
                    Nombre
                </div>
                <div class="col-md-3">
                    Datos
                </div>
            </div>
            <div class="row">
                <h3>Características del inmueble</h3>
            </div>
            <button mat-icon-button aria-label="Editar" matTooltip="Editar" style="margin: auto;">
                <mat-icon class="mini-boton">search</mat-icon>
            </button>
            <div class="row">
                <label>Plano Arquitectonico - Fecha:</label> Datos
            </div>
            <div class="row">
                <div class="col-md-3">
                    Niveles
                </div>
                <div class="col-md-3">
                    Datos
                </div>
                <div class="col-md-3">
                    Número
                </div>
                <div class="col-md-3">
                    Datos
                </div>
            </div>
            <div class="row">
                <label>Fechas y superficies</label>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Año construcción o última remodelación
                </div>
                <div class="col-md-3">
                    Datos
                </div>
                <div class="col-md-3">
                    F. Fin Obra
                </div>
                <div class="col-md-3">
                    Datos
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    F. Estimada Fin Obra
                </div>
                <div class="col-md-3">
                    Datos
                </div>
                <div class="col-md-3">
                    Sup. Terreno
                </div>
                <div class="col-md-3">
                    Datos
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Sup. Construcción
                </div>
                <div class="col-md-3">
                    Datos
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Instalaciones Especiales
                </div>
            </div>
            <div class="row">
                <table>
                    <tr>
                        <td>Descripción</td>
                    </tr>
                    <tr>
                        <td>Datos</td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <h3>Unidades Privativas</h3>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Cantidad
                </div>
                <div class="col-md-3">
                    Datos
                </div>
                <div class="col-md-3">
                    Listado Unidades Privativas
                </div>
                <div class="col-md-3">
                    <button>Detalle</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button>Mostrar Datos Unidades Privativas</button>
                </div>
            </div>
            <div class="row">
                <h3>Asignación de Propietarios</h3>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Detalle de Propietarios</label>
                </div>
            </div>
            <div class="row">
                <table>
                    <tr>
                        <td>Región: 030 Manzana: 162 Lote: 10</td>
                    </tr>
                </table>
            </div>
        </mat-card-content>
    </div>
</div>
