<div class="row">
    <div class="col-md-10 offset-md-1">
        <h1 class="titulo-cdmx">Revisión de Solicitudes</h1>
        <hr>
        <br>

        <mat-card-content>

            <mat-radio-group [(ngModel)]="filtroSelected">
                <div class="row">
                    <div class="col-md-1 text-center" style="margin-top: 16px;">
                        <mat-radio-button value="0" style="margin: auto!important;" (change)="getFiltroSelected($event)"></mat-radio-button>
                    </div>
                    <div class="col-md-2" style="margin-top: 16px;">
                        <mat-label>Rango de Fechas</mat-label>
                    </div>
                    <mat-form-field appearance="fill" class="col-4">
                        <mat-label>Fecha Inicio:</mat-label>
                        <input matInput readonly [matDatepicker]="fechaInicio" [(ngModel)]="filtros.fecha_ini" [disabled]="!inputsFiltros[0].isSelected" [required]="inputsFiltros[0].isSelected" (dateChange)="validateDate()">
                                <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
                                <mat-datepicker #fechaInicio></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="col-4">
                        <mat-label>Fecha Fin:</mat-label>
                        <input matInput readonly [matDatepicker]="fechaFin" [(ngModel)]="filtros.fecha_fin" [disabled]="!inputsFiltros[0].isSelected" [required]="inputsFiltros[0].isSelected" (dateChange)="validateDate()" [min]="filtros.fecha_ini">
                        <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
                        <mat-datepicker #fechaFin></mat-datepicker>
                        <mat-error>{{inputsFiltros[0].errorMessage}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-md-1 text-center" style="margin-top: 16px;">
                        <mat-radio-button value="1" style="margin: auto!important;" (change)="getFiltroSelected($event)"></mat-radio-button>
                    </div>
                    <div class="col-md-2" style="margin-top: 16px;">
                        <mat-label>Número de cuenta</mat-label>
                    </div>
                    <mat-form-field appearance="outline" class="col-md-2">
                        <mat-label>Región:</mat-label>
                        <input matInput #region [(ngModel)]="filtros.region" [disabled]="!inputsFiltros[1].isSelected" [required]="inputsFiltros[1].isSelected" minlength="3" maxlength="3" (keypress)="keyPressAlphaNumeric($event)" (keyup)="focusNextInput($event, manzana)" style="text-transform: uppercase;">
                        <mat-error>{{inputsFiltros[1].errorMessage}}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline"  class="col-md-2">
                        <mat-label>Manzana:</mat-label>
                        <input matInput #manzana [(ngModel)]="filtros.manzana" [disabled]="!inputsFiltros[1].isSelected" [required]="inputsFiltros[1].isSelected" minlength="3" maxlength="3" (keypress)="keyPressAlphaNumeric($event)" (keyup)="focusNextInput($event, lote)" style="text-transform: uppercase;">
                        <mat-error>{{inputsFiltros[1].errorMessage}}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline"  class="col-md-2">
                        <mat-label>Lote:</mat-label>
                        <input matInput #lote [(ngModel)]="filtros.lote" [disabled]="!inputsFiltros[1].isSelected" [required]="inputsFiltros[1].isSelected" minlength="2" maxlength="2" (keypress)="keyPressAlphaNumeric($event)" (keyup)="focusNextInput($event, null)" style="text-transform: uppercase;">
                        <mat-error>{{inputsFiltros[1].errorMessage}}</mat-error>
                    </mat-form-field>
                </div>
            </mat-radio-group>
                <div class="row">
                    <div class="col-md-2" style="margin-top: 16px;">
                        Estados:
                    </div>
                    <mat-form-field appearance="fill" class="col-4">
                        <mat-label>Estado:</mat-label>
                        <mat-select>
                            <mat-option value="cuenta">Cuenta</mat-option>
                            <mat-option value="contribuyente">Contribuyente</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="col-4">
                    </div>
                </div>
            <div class="row">
                <div class="col-md-1 offset-md-5" style="text-align: center;">
                    <div class="d-flex flex-row-reverse">
                        <button mat-icon-button class="boton-normal" aria-label="Buscar" matTooltip="Buscar" style="margin: auto;">
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-md-1" style="text-align: center;">
                    <div class="d-flex flex-row-reverse">
                        <button mat-icon-button class="boton-normal" aria-label="Limpiar" matTooltip="Limpiar" style="margin: auto;">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 8%;">
                <div class="col-md-6">
                    <label class="verde-cdmx" style="font-size: 16px;">Listado de solicitudes</label>
                    <button mat-icon-button aria-label="Buscar" matTooltip="Buscar" style="margin: auto;">
                        <mat-icon class="mini-boton">find_in_page</mat-icon>
                    </button>
                    
                </div>
            </div>
            <br>
            <table>
                <tr>
                    <th>Solictud</th>
                    <th>...</th>
                </tr>
                <tr>
                    <td>C-2021</td>
                    <td>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item [routerLink]="['/main/datos-generales', 1]">
                                <mat-icon>find_in_page</mat-icon>
                                <span>Visualizar solicitud</span>
                            </button>
                            <button mat-menu-item [routerLink]="['/main/datos-generales-editar', 1]">
                                <mat-icon>find_in_page</mat-icon>
                                <span>Editar solicitud</span>
                            </button>
                        </mat-menu>
                    </td>
                </tr>
            </table>
            
        </mat-card-content>

    </div>
</div>